@import './stoplight.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  color-scheme: dark;
}

body {
  color: white;
  background: black;
}

main {
  height: 100vh;
  display: grid;
  place-items: center;
}
