.stoplight {
  --background: black;
  --border-color: hsl(40, 94%, 48%);
  --gap: 2vmin;
  --padding: 5vmin;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: var(--gap);
  padding: var(--padding);
  background: var(--background);
  border: 1px solid var(--border-color);
}

.light {
  --size: 25vmin;
  --background: #444;
  --red: hsl(0, 61%, 50%);
  --red-dim: hsl(0, 30%, 40%);
  --yellow: hsl(45, 83%, 50%);
  --yellow-dim: hsl(45, 30%, 40%);
  --green: hsl(124, 63%, 48%);
  --green-dim: hsl(124, 30%, 40%);

  width: var(--size);
  height: var(--size);
  background: var(--background);
  border: 1px solid black;
  border-radius: 50%;
  position: relative;

  &[data-color='red'] {
    --background: var(--red-dim);

    &[data-active='true'] {
      --background: var(--red);
      --glow-color: var(--red);
    }
  }

  &[data-color='yellow'] {
    --background: var(--yellow-dim);

    &[data-active='true'] {
      --background: var(--yellow);
      --glow-color: var(--yellow);
    }
  }

  &[data-color='green'] {
    --background: var(--green-dim);

    &[data-active='true'] {
      --background: var(--green);
      --glow-color: var(--green);
    }
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: radial-gradient(#00000000, #000000cc);
  }

  &[data-active='true'] {
    // glow adapted from the lovely tutorial at
    // https://codersblock.com/blog/creating-glow-effects-with-css/
    --glow-white: #ffffffaa;
    --glow-spread-white: 8vmin;
    --glow-spread-short: 20vmin;
    --glow-spread-long: 60vmin;

    --glow: inset 0 0 var(--glow-spread-white) var(--glow-white)
        /* inner white */,
      inset 0 0 var(--glow-spread-short) var(--glow-color)
        /* inner color short */,
      inset 0 0 var(--glow-spread-long) var(--glow-color) /* inner color long */,
      0 0 var(--glow-spread-white) var(--glow-white) /* outer white */,
      0 0 var(--glow-spread-short) var(--glow-color)
        /* outer color left short */,
      0 0 var(--glow-spread-short) var(--glow-color)
        /* ouer color right short */,
      0 0 var(--glow-spread-long) var(--glow-color) /* outer color left long */,
      0 0 var(--glow-spread-long) var(--glow-color) /* outer color right long */;

    z-index: 1;

    &::before {
      box-shadow: var(--glow);
    }
  }
}
