.light {
  --size: 25vmin;
  --dim: #444;
  --bright: #ccc;

  width: var(--size);
  height: var(--size);
  background: var(--dim);
  border-radius: 50%;

  &[data-active='true'] {
    background: var(--bright);
  }

  &[data-color='red'] {
    --dim: hsl(0, 25%, 30%);
    --bright: hsl(0, 61%, 50%);
  }

  &[data-color='yellow'] {
    --dim: hsl(45, 25%, 30%);
    --bright: hsl(45, 83%, 50%);
  }

  &[data-color='green'] {
    --dim: hsl(124, 25%, 30%);
    --bright: hsl(124, 63%, 50%);
  }
}
