.aspect {
  width: 100px;
  height: 100px;
  background: #666;
  border-radius: 50%;

  &[data-aspect='red'] {
    background: red;
  }
  &[data-aspect='amber'] {
    background: orange;
  }
  &[data-aspect='green'] {
    background: green;
  }
}
