.stoplight {
  --background: black;
  --border: 1px solid hsl(40, 94%, 48%);
  --gap: 10%;
  --padding: 12%;

  grid-area: stoplight;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: var(--padding);
  background: var(--background);
  border: var(--border);
  aspect-ratio: 1 / 1;
}

.light {
  --dim: #444;
  --bright: #ccc;

  background: var(--dim);
  border-radius: 50%;
  position: relative;
  aspect-ratio: 1 / 1;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: radial-gradient(#00000000, #000000cc);
  }

  &[data-active='true'] {
    background: var(--bright);
    z-index: 1;

    &::before {
      --glow-color: var(--bright);
      --glow-white: #ffffffaa;

      --glow-spread-inset: 10vmin;
      --glow-blur-white: 8vmin;
      --glow-shadow-inset-white: inset 0 0 var(--glow-blur-white)
        var(--glow-spread-inset) var(--glow-white);
      --glow-shadow-white: 0 0 var(--glow-blur-white) var(--glow-white);

      --glow-blur-small: 10vmin;
      --glow-spread-small: 1vmin;
      --glow-shadow-small: 0 0 var(--glow-blur-small) var(--glow-spread-small)
        var(--glow-color);

      --glow-large-blur: 20vmin;
      --glow-large-spread: 2vmin;
      --glow-shadow-large: 0 0 var(--glow-large-blur) var(--glow-large-spread)
        var(--glow-color);

      --glow-shadow-inset: var(--glow-shadow-inset-white),
        inset var(--glow-shadow-small), inset var(--glow-shadow-large);
      --glow-shadow-outer: 0 0 var(--glow-blur-white) var(--glow-white),
        var(--glow-shadow-small), var(--glow-shadow-small),
        var(--glow-shadow-large), var(--glow-shadow-large);

      --glow: var(--glow-shadow-inset), var(--glow-shadow-outer);

      box-shadow: var(--glow);
      filter: blur(1px);
    }
  }

  &[data-color='red'] {
    --dim: hsl(0, 25%, 30%);
    --bright: hsl(0, 61%, 50%);
  }

  &[data-color='yellow'] {
    --dim: hsl(45, 25%, 30%);
    --bright: hsl(45, 83%, 50%);
  }

  &[data-color='green'] {
    --dim: hsl(124, 25%, 30%);
    --bright: hsl(124, 63%, 50%);
  }
}
